.color{
    font-size: 30px;
    font-weight: 800;
    display: inline-block;
    padding: 5px 15px;
    margin: 10px 5px;
    border: 1px solid black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.5px black;
}
:root{
    --bg:yellow;
}
.css-variable{
    --heading:black;
    --para:rgb(82, 70, 70);
}
.css-variable h1{
    color: var(--heading);
}
.css-variable p{
    color: var(--para);
    background-color: var(--bg);
}